<a href="https://colab.research.google.com/github/PabloDiosquez/Intermediate_Python_Course/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple**

A tuple is a collection of objects which is ordered and immutable. Tuples are similar to lists, the main difference is the immutability. In Python tuples are written with round brackets and comma separated values.



```
my_tuple = ('Lio', 23, True)
```

**Reasons to use a tuple over a list**

▪ Generally used for objects that belong together.

▪ Use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.

▪ Since tuple are immutable, iterating through tuple is slightly faster than with list.

▪ Tuples with their immutable elements can be used as key for a dictionary. This is not possible with lists.

▪ If you have data that doesn´t change, implementing it as tuple will guarantee that it remains write.protected.

**Create a tuple**

Tuples are created with round brackets and comma separated values. Or use the built-in tuple function.

In [3]:
tuple_1 = ('Max',23,"New York")
tuple_2 = 'Lio', 35, "Rosario" # Parentheses are optional ✌

# Special case: a tuple with only one element needs to have a comma at the end,
# otherwise it is not recognized as tuple.
tuple_3 = (25,)

print(tuple_1)
print(tuple_2)
print(tuple_3)

# Or convert an iterable (lista, dict, string) with the built-in tuple function
tuple_4 = tuple([1,2,3])
print(tuple_4)

('Max', 23, 'New York')
('Lio', 35, 'Rosario')
(25,)
(1, 2, 3)

**Access elements**

Ypu access the tuple items by referring to the index number. Note that the indices start at 0.

In [4]:
item = tuple_1[0]
print(item)
# You can also use negative indexing, e.g -1 refers to the last item and
# -2 to the second last item, and so on
item = tuple_1[-1]
print(item)

Max
New York

**Add or change items**

NOT possible and will raise a TypeError.

In [6]:
tuple_1[0] = 'Ross'

TypeError: ignored

**Delete a tuple**

In [7]:
del tuple_2

**Iterating**

In [9]:
# Iterating over a tuple by using a for loop
for i in tuple_1:
  print(i)

Max
23
New York

**Check if an item exists**

In [10]:
if 'New York' in tuple_1:
  print('Yes')
else:
  print('No')

Yes

**Usefule methods**

In [23]:
my_tuple = ('a','p','p','l','e',)

# len(): get the number of elements in a tuple
print(len(my_tuple))

# count(x): Return the number of items that is equal to x
print(my_tuple.count('p'))

# index(x): Return index of first item that is equal to x
print(my_tuple.index('l'))

# repetition
my_tuple = ('a','b',) * 5
print(my_tuple)

# concatenation
my_tuple = (1,2,3) + (4,5,6)
print(my_tuple)

# convert list to a tuple and vice versa
my_list = ['a','b','c','d',]
list_to_tuple = tuple(my_list)
print(list_to_tuple)

tuple_to_list = list(list_to_tuple)
print(tuple_to_list)

# convert string to tuple 
string_to_tuple = tuple('Hello')
print(string_to_tuple)

5
2
3
('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')
(1, 2, 3, 4, 5, 6)
('a', 'b', 'c', 'd')
['a', 'b', 'c', 'd']
('H', 'e', 'l', 'l', 'o')